#header{ style: 'width: 900px; height: 130px; background-color: #0db2ca; margin-bottom: 53px' }

#emailContent{ style: 'padding-left: 23px' }
  %table{border: '0', cellpadding: '0', cellspacing: '0', width: '100%'}
    %tr{style: 'margin-bottom: 35px'}
      %td
        %span{style: 'margin-bottom: 35px'}  Hi,
    %tr{style: 'margin-bottom: 35px'}
      %td Greetings!
    %tr{style: 'margin-bottom: 35px'}
      %td You are just a step away from accessing your Flipkart account
    %tr{style: 'margin-bottom: 35px'}
      %td We are sharing a verification code to access your account. The code is valid for 10 minutes and usable only once.
    %tr{style: 'margin-bottom: 35px'}
      %td Once you have verified the code, you'll be prompted to set a new password immediately. This is to ensure that only have access to your account.
    %tr
      %td Your OTP: 813995
    %tr{style: 'margin-bottom: 35px'}
      %td Expires in: 15 minutes only
    %tr
      %td Best Regards,
    %tr{style: 'margin-bottom: 35px'}
      %td Team Flipkart

#footer



